# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Implementa-o-de-Jogos-2D-2025.2.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
